[Unit]
Description = Cart Service

[Service]
User=roboshop
Environment=MONGO=tree
// highlight-start
 Environment=REDIS_HOST="redis:redis.malli.site:27017"
 Environment=CATALOGUE_HOST="catalogue:catalogue.malli.site:8080"
 // highlight-end
 ExecStart=/bin/node /app/server.js
 SyslogIdentifier=cart

 [Install]
 WantedBy=multi-user.target